*{
    box-sizing: border-box;
    margin : 0;
    font-family: 'Roboto Mono', serif;
    
}
/*MISE EN PLACE DE LA BARRE HAUT DE PAGE*/
#haut_de_page{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: 25273E;
    font-size: 30px;
    display: flex;
    align-content: center;
    opacity: 0.90;
}
#haut_de_page a{
    
    text-decoration: none;
    color: 635656;

}
#haut_de_page a:hover{
    color: white;
    text-shadow: 40px 40px 40px #000000;
}
/*MISE EN PLACE DU LOGO*/
#logo{
    z-index: 10;
    position: relative;
    right: 20px;
    bottom: 40px;
    height: 150px;
    width: 150px;
    margin-bottom: -350px;
}
/*MISE EN PLACE DU BACKGROUND*/
#Section1{
    display: flex;
    flex-direction: column;
    background-image: url(Image/branko-stancevic-Skill.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
/*MISE EN PLACE DU CONTENU*/
#titre{
    color: white;
    text-align: center;
    text-decoration-line: underline;
    font-size: 25px;
    padding-top: 20px;
    font-weight: 100;
}
#competences{
    display: flex;
    justify-content: space-around;
    padding-top: 250px;
    color: white;
    font-size: 30px;
    text-shadow: 1px 0px 40px ;
}
/* Footer RGPD*/
footer{
    background-color: grey;
}
footer a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}